#lol{background-color:green;text-align:center;}
#wa{display:inline;}
#hello{color:brown;}
body{background-image:url("https://www.eschoolnews.com/files/2017/08/gaming.jpg");background-repeat:no-repeat;background-size:cover;background-position:fixed;}
#see{background-color:orange;}
#ah{background-color:greenyellow;}
